.button.user-info__edit {
    width: 38px;
    height: 18px;
    margin-top: 24px;
    border: 1px solid #FFFFFF;

    font-size: 12px;
    line-height: 14px;
}

.button.user-info__edit:hover {
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 980px) {
    .button.user-info__edit {
        align-self: center;
    }
  }