@import url(./_about/popup-edit__error_about.css);
@import url(./_edit/popup-edit__error_edit.css);

.popup-edit__error {
    font-size: 80%;
    color: red;
   
    font-size: 12px;
    line-height: 15px;
  }
